<div class="container-fluid">
  <a href="/">
    <p class="text-center">
      <img src="./img/logo.png" style="width:255px;height:65px;align:center" class="img-responsive center-block" alt="">
    </p>
  </a>
</div>
